@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app h1{
    padding-top: 100px;
    margin-top: 100px;;
    font-weight: 600;
    font-size: 18px;
    color: #3498db;
    border-bottom: 1px solid #f1efef;
    padding: 10px 0px;
}
.image{
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    height: 100px;
    width:100px;

}
.designed{
    color: #888;
    text-align: center;
    font-style: italic;
    margin: 20px;
}
.input-label{
    display: block;
    margin-bottom: 8px;
    color: #3498db;
    font-size: 15px;
    font-weight: 500;
}
input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #3498db;
    font-size: 16px;
    border-radius: 5px;
}
button{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.generate{
    background-color: #3498db;
}
.generate:disabled{
    background-color:#bdc3c7;
    cursor: not-allowed;
}
.download{
    background-color: #27ae60;
    margin-left: 10px;
}
.download:hover{
    background-color: #219a52;
}
